html,
body {
  background: rgb(239, 239, 239);
  font-family: "EB Garamond";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
}

.logo {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>🎲</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  font-size: 1.5em;
  max-width: 800px;
}

.cta {
  font-size: 1.5em;
  background: #fed15d;
  padding: 2em 2em;
  width: 100%;
  max-width: 800px;
  border-radius: 16px;
  box-shadow: 0px 0px 8px 4px #fed15d;
}

.carousel {
  display: flex;
  max-width: 1200px;
  overflow-x: auto;
  gap: 1em;
  margin: 2em 0;
  img {
    max-height: 500px;
    border-radius: 8px;
  }
}

footer {
  margin-top: 5em;
  padding-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
    color: #4d5fff;
  }
}

.medium-zoom--opened {
  .medium-zoom-overlay {
    opacity: 0.8 !important;
  }
}
.medium-zoom-image--opened {
  object-fit: contain;
  opacity: 1;
}

.logos {
  display: flex;
  margin-top: 0.25em;
  color: gray;
  gap: 0.5em;
  div {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 32px;
    height: 32px;
  }
}
