html,
body {
  background: rgb(239, 239, 239);
  font-family: "EB Garamond";
  background: url("./assets/cardboard.png") repeat;
  background-size: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  @media screen and (max-width: 800px) {
    font-size: 13px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;

  @media screen and (max-width: 800px) {
    padding: 0 1.5em;
  }
  p,
  h3 {
    backdrop-filter: blur(2px);
  }
  p {
    line-height: 1;
    margin-bottom: 0.5em;
  }
}
h3 {
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.logo {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>🎲</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/

  transition: box-shadow 0.2s;
  &.switching {
    animation: pulse 0.4s infinite;
  }

  &:hover {
    box-shadow: 0 0 12px 2px #fed15d;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 12px 2px #fed15d;
  }
  50% {
    box-shadow: 0 0 12px 8px #fed15d;
  }
  100% {
    box-shadow: 0 0 12px 2px #fed15d;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  font-size: 1.5em;
  max-width: 800px;
}

.cta {
  font-size: 1.5em;
  background: #fed15d;
  padding: 1em 2em;
  border-radius: 16px;
  box-shadow: 0px 0px 8px 4px #fed15d;
}

.cover {
  margin-top: 5%;
  position: absolute;
  z-index: -1;
  min-width: 1500px;
  opacity: 0.65;

  @media screen and (max-width: 520px) {
    margin-top: 30%;
  }
}

.stickies {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 800px) {
    gap: 0;
    width: calc(100% + 2em);
  }
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 1em;
  background-size: contain;
  padding: 2em;
  margin-bottom: 0;
  padding-bottom: 0;
  justify-content: center;
  background-repeat: no-repeat;

  img:not(.sticky) {
    max-height: 500px;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 6px rgba(41, 41, 41, 0.3);
  }
  @media screen and (max-width: 1280px) {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    // margin-left: -1em;
    width: calc(100% + 5em);
    justify-content: start;
  }
}

.testimonials {
  align-items: center;
  width: calc(100% + 5em);
  justify-content: start;
  padding-top: 0;

  img {
    max-width: 400px;
    height: auto;
    // object-fit: contain;
  }
  .testimonial {
    width: 400px;
    height: 400px;
    padding: 0.2em;
    border-radius: 8px;
    background: #dadada;
  }
  @media screen and (max-width: 800px) {
    img {
      max-width: 300px;
    }
    .testimonial {
      width: 300px;
      height: 300px;
    }
  }
}

.sticky {
  max-width: 180px;
  filter: drop-shadow(0px 0px 6px rgba(41, 41, 41, 0.3));
}

footer {
  margin-top: 5em;
  padding-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
    color: #1b4ad8;
  }
}

.medium-zoom--opened {
  .medium-zoom-overlay {
    opacity: 0.8 !important;
  }
}
.medium-zoom-image--opened {
  object-fit: contain;
  opacity: 1;
}

footer {
  color: rgb(51, 51, 51);
}

.logos {
  display: flex;
  margin-top: 0.25em;
  gap: 0.5em;
  div {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 32px;
    height: 32px;
  }
}
